body {
  font-family: helvetica;
  background: linear-gradient(90deg, rgb(51, 51, 51) 0, #c4caef 45%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
img {
  width: 350px;
  height: 250px;
  margin: 5px auto;
  border-radius: 20px;
}
.navbar {
  width: 39vw;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.7);
  align-content: center;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 5px;
  justify-content: space-evenly;
  box-shadow: 0 2px 2px black;
  min-width: 380px;
}
.navlink {
  text-decoration: none;
  padding: 6px;
  box-shadow: 0 2px 2px black;
  border-radius: 20px;
}
.navlink.active {
  background-color: dodgerblue;
  border-radius: 20px;
  color: white;
}
.destroybtn {
  color: red;
}
a.schoolListName {
  text-decoration: underline;
  color: blue;
}
a.schoolListName:hover {
  text-decoration: underline;
  color: dodgerblue;
}
a.navLink:hover {
  background-color: dodgerBlue;
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
a.active:hover {
  color: white;
}
div {
  min-width: 400px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  align-content: center;
}
label,
li,
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  padding: 5px 0;
}
input,
select {
  height: 20px;
  width: 200px;
  margin-top: 5px;
  display: flex;
  align-content: center;
  text-align: center;
  border-radius: 20px;
}
button {
  width: 150px;
  margin: 10px auto 0 auto;
  align-content: center;
  border-radius: 20px;
}
select:hover,
button:hover {
  cursor: pointer;
}
.school {
  border-radius: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 2px black;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px 0;
}
